__pycache__/
*.py[cod]
*$py.class

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

aegis_qris_transactions.csv
aegis_graph_meta.json
processed/
checkpoints/
*.pt
*.pth
exported/
*.onnx
explanations/
demo_results.json
.vscode/
.idea/
*.swp
*.swo
.spyderproject
.spyproject

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.ipynb_checkpoints

.pytest_cache/
.coverage
htmlcov/
